@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin-left: 0;
}

.container-body {
    width: 1600px;
}

.header {
    width: 1600px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    justify-self: flex-start;
}

.nav {
    justify-self: center;
    font-size: 14px;
}

.studio{
    padding-right: 30px;
}   

.portfolio {
    padding-right: 30px;
}

.contacts-header {
    justify-self: end;
    font-size: 14px;
}

.mail {
    padding-right: 30px;
}

a {
    color: black;
    font-family: 'Roboto', sans-serif;
}

a:hover {
    color: #2196F3;
}

.logofirstpart {
    color: #2196F3;
    font-size: 26px;
}

.logosecondpart {
    color: black;
    font-size: 26px;
}

.banner {
    display: flex;
    flex-direction: column;
    height: 400px;
    align-items: center;
    background-color: #2F303A;
    padding-top: 200px;
}

#bannertext {
    height: 120px;
    width: 696px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.buttonbanner {
    height: 50px;
    width: 216px;
    background-color: #2196F3;
    font-family: 'Roboto', sans-serif;
    color: white;
    border-radius: 4px;
    
}

#button {
    height: 50px;
    width: 216px;
    padding-bottom: 92px;
}

.goals {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-left: 175px;
    margin-top: 94px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

#goal {
    height: 72px;
    width: 290px;
    padding-right: 30px;
}

.whatwedo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.whatweedoimg {
    padding: 0 35px 0 35px;
    padding-bottom: 94px;

}
.whatwedootext {
    text-align: center;
    font-size: 36px;
    margin-top: 94px;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
    padding-top: 94px;

}

.containerourteam {
    display: block;
    align-content: center;
    flex-direction: column;
    height: 648px;
    background-color: #F5F4FA;
    padding-bottom: 92px;
}

.ourteamh1 {
    text-align: center;
    margin-top: 94px;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 94px;
}

.ourteam {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.members-card {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    background: #FFFFFF;
}

.figurecaption-members {
    padding-top: 30px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.abouttext {
   color: #757575;;
}

.footer {
    display: flex;
    height: 252px;
    flex-direction: column;
    background-color: #2F303A;
}

.logofooter {
    margin-left: 215px;
    padding-top: 60px;
    padding-bottom: 20px;
}

.adress {
    color: white;
    margin-left: 215px;
}

.footer-adress-email {
    color: rgba(255, 255, 255, 0.6);
    margin-left: 215px;
}

.footer-adress-phone {
    color: rgba(255, 255, 255, 0.6);
    margin-left: 215px;
    font-family: 'Roboto', sans-serif;
}

.logofirstpartfooter {
    color: #2196F3;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
}

.logosecondpartfooter {
    color: white;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
}

.buttonsgalery {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 54px;
    width: 575px;
    margin-left: 512px;
    margin-top: 94px;
}

#buttongalery {
    width: 125px;
    height: 38px;
    background: #F5F4FA;
    border-radius: 4px; 
    border-color: #F5F4FA;
}
#buttongalery1 {
    width: 73px;
    height: 38px;
    background: #F5F4FA;
    border-radius: 4px; 
    border-color: #F5F4FA;
}

#padright {
    padding-right: 8px;
}

#buttongalery:hover {
    background-color: #2196F3;
}

#buttongalery1:hover {
    background-color: #2196F3;
}

.container-galery {
    display: flex;
    flex-flow: row wrap;
    margin-left: 215px;
    margin-top: 50px;
    margin-bottom: 94px;
}

.imageinfo {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
/* identical to box height, or 200% */

    letter-spacing: 0.06em;

    color: #212121; 
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    padding-left: 24px;
    padding-bottom: 20px;
}

#aboutgalery {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
/* identical to box height, or 188% */
    letter-spacing: 0.03em;
    color: #757575;
}